<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds">
    <springProperty scope="context" name="appName" source="spring.application.name"/>

    <!-- online -->
    <springProfile name="online,test-sohu,online-sohu">
        <appender name="stdout" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOGS_DIR}/stdout.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOGS_DIR}/otherdays/stdout.log.%d{yyyy-MM-dd}</fileNamePattern>
                <maxHistory>15</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} {%thread} %-5level %logger{50}-%L - %msg%n</pattern>
            </encoder>
        </appender>
        <appender name="hotcaffeineAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOGS_DIR}/hotcaffeine.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOGS_DIR}/otherdays/hotcaffeine.log.%d{yyyy-MM-dd}</fileNamePattern>
                <maxHistory>15</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} {%thread} %-5level %logger{50}-%L - %msg%n</pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="stdout" />
        </root>
        <logger name="hotcaffeine" level="INFO" additivity="false">
            <appender-ref ref="hotcaffeineAppender" />
        </logger>
       	<logger name="com.netflix.util.concurrent.ShutdownEnabledTimer" level="warn" additivity="false">
	        <appender-ref ref="stdout" />
	    </logger>
    </springProfile>

    <!-- local -->
    <springProfile name="local,local-sohu">
        <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} {%thread} %-5level %logger{50}-%L - %msg%n</pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="stdout" />
        </root>
    </springProfile>

</configuration>